.about-us-container {
    margin: auto;

    .logo {

        .logo-text {
            font-size: 4rem;
            display: flex;
            flex-direction: column;
            color: #dd610d;
            line-height: 70px;

            &_color {
                color: azure;
                border-top: 3px solid rgb(230, 230, 47);
                transition: 1.5s;

            }
        }
    }
}