.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: rgba(9, 87, 189, 0.283);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 6px;
    margin-bottom: 30px;
    margin-top: 20px;
}