.container-journey {
    background-color: rgba(9, 87, 189, 0.283);
    border-radius: 12px;
    padding: 30px;
    width: 100%;
    margin-bottom: 30px;
    max-width: 100%;
    position: relative;
}